
html {
    position: relative;
    background-color: #34495e;
     width: 300px; 
    min-height:100px;
}
.ex-container {
    width: 300px;
    margin-bottom:10px;
    position: absolute;
    text-align:center;
    padding-top: 10px;
}

.add {
	text-align: center;
	margin-top: 10px;
}

#keyword_input {
    margin: 0 auto;
}

.content_line {
    width: 240px;
    margin: 0 auto;
}
