
html {
    background-color: #34495e;
}
.ex-container {
	width: 400px;
	min-height: 100px;
	max-height: 500px;
    margin-bottom:10px;
    background-color: #34495e;
    position: relative;
}
.row {
    margin: 0 !important;
}
.add {
	text-align: center;
	margin-top: 10px;
}