
html {
    position: relative;
    background-color: #34495e;
      width: 360px;  
    min-height:100px;
}
.ex-container {
    width: 360px;
    margin-bottom:10px;
    position: absolute;
    text-align:center;
    padding-top: 10px;
}

.add {
	text-align: center;
	margin-top: 10px;
}

#keyword_input {
    margin: 0 auto;
}

.cus-line {
    width: 300px;
    margin: 0 auto;
}

.cus-btn {
    width: 300px !important;
}

.cus-btn-sm {
    width: 140px !important;
}

.cus-margin-right {
    margin-right: 5px;
}

.cus-margin-left {
    margin-left: 5px;
}

.cus-bottom-margin {
    margin-bottom: 10px;
}

